<h2>My Tickets</h2>
	<ul class="list-group">
		<li *ngFor="let ticket of tickets" 
			class="list-group-item"
			[class.active]="ticket === selectedTicket"
			(click)="onSelect(ticket)">
			<!-- each ticket goes here -->
				<span class="badge">{{ticket.id}}</span> {{ticket.name}} {{ticket.amount}}
		</li>
	</ul>
	<div *ngIf="selectedTicket">
	  <h2>
	    {{selectedTicket.name | uppercase}} is my ticket
	  </h2>
	  <button type="button" class="btn btn-success" (click)="gotoDetail()">View Details</button>
	</div>
